Repository cloud-toolkit/cloud-toolkit-aws, pull requests merged in 2022-10, with the labels that each got.

#30 Fix Enums in schema
  schema.yaml
  sdk/nodejs/types/enums/serverless/index.ts
  sdk/python/cloud_toolkit_aws/serverless/_enums.py
Labels: bug, package/serverless

#42 Fix #32
  provider/cmd/pulumi-resource-cloud-toolkit-aws/landingzone/landingZone.ts
Labels: bug, package/landingzone

#44 Fixed Organization 'services' and 'enabledPolicies' when importing an existing AWS Organization
  provider/cmd/pulumi-resource-cloud-toolkit-aws/landingzone/organization.ts
  provider/cmd/pulumi-resource-cloud-toolkit-aws/landingzone/organizationArgs.ts
  schema.yaml
  sdk/nodejs/landingzone/organization.ts
  sdk/nodejs/types/input.ts
  sdk/python/cloud_toolkit_aws/landingzone/_inputs.py
  sdk/python/cloud_toolkit_aws/landingzone/organization.py
Labels: bug

#50 Changing Provider names fro AWS Accounts in Organization
  provider/cmd/pulumi-resource-cloud-toolkit-aws/landingzone/organization.ts
Labels: bug

#48 Fix LandingZone outputs and states
  provider/cmd/pulumi-resource-cloud-toolkit-aws/landingzone/organization.ts
  provider/cmd/pulumi-resource-cloud-toolkit-aws/provider.ts
Labels: bug, package/landingzone

#52 Add required property in schema Types
  schema.yaml
  sdk/nodejs/types/input.ts
  sdk/nodejs/types/output.ts
  sdk/python/cloud_toolkit_aws/databases/_inputs.py
  sdk/python/cloud_toolkit_aws/email/_inputs.py
  sdk/python/cloud_toolkit_aws/email/outputs.py
  sdk/python/cloud_toolkit_aws/kubernetes/_inputs.py
  sdk/python/cloud_toolkit_aws/landingzone/_inputs.py
  sdk/python/cloud_toolkit_aws/landingzone/outputs.py
  sdk/python/cloud_toolkit_aws/serverless/_inputs.py
  sdk/python/cloud_toolkit_aws/storage/_inputs.py
Labels: bug

#68 Add ClusterAutoscaler component
  provider/cmd/pulumi-resource-cloud-toolkit-aws/kubernetes/cluster.ts
  provider/cmd/pulumi-resource-cloud-toolkit-aws/kubernetes/clusterAddons.ts
  provider/cmd/pulumi-resource-cloud-toolkit-aws/kubernetes/clusterAddonsArgs.ts
  provider/cmd/pulumi-resource-cloud-toolkit-aws/kubernetes/clusterAutoscaler.ts
  provider/cmd/pulumi-resource-cloud-toolkit-aws/kubernetes/clusterAutoscalerArgs.ts
  provider/cmd/pulumi-resource-cloud-toolkit-aws/kubernetes/index.ts
  provider/cmd/pulumi-resource-cloud-toolkit-aws/provider.ts
  schema.yaml
  sdk/nodejs/kubernetes/clusterAddons.ts
Labels: enhancement, package/kubernetes
